body{
  background-image: url(../img/Leather-Blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: darkslateblue;*/
  opacity: 0.65;
}

#test{
  color: whitesmoke;
  font-family: Ayuthaya;
}



#head{
  /*height: 100px;*/
  background-color: bisque;
  font-family: Ayuthaya;
  color: antiquewhite;
  text-align: center;
  vertical-align: middle;
  /*line-height: 100px;*/
}

#main {
  color: darkblue;
}

#sub  {
  color: deeppink;
}

input{
  vertical-align: middle;
  /*background-color: deeppink;*/
}

li a:hover{
  color: white;
  background: deeppink;
}

li {
  height: 35px;
  list-style:none;
  display:inline-block;
  margin-right: 15px;
}

ul {
  /*background-color: aqua;*/
  color: gold;
  font-size: 18px;
}

ol {
  /*background-color: aqua;*/
  color: gold;
  font-size: 18px;
}


p {
  font-family: AppleGothic;
  color: gold;
  /*darkslateblue*/
  font-size: 17px;
}

#art, #ass{
  /*width: 300px;*/
  /*height: 500px;*/
  float: left;
}

.lists{
  margin-top: 15px;
  background-color: cyan;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

footer{

}

figure{
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

figcaption{
  color: gold;
  text-align: center;
  vertical-align: middle
}

h1, h2, h3, h4, h5, h6 {
  color: gold;
}


